.row {
  display: flex;
  flex-wrap: wrap;
}
.pinkLine {
  position: relative;
  width: 90%;
  height: 10px;
  background-color: var(--primary-pink);
  margin-top: 50px;
  margin-bottom: 50px;
}
.paragraphTitle{
  font-weight: 500;
  font-size: 48;
}

.pinkLine::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border-radius: 50%;
}
.pink {
  color: var(--primary-pink);
}
.green {
  color: var(--primary-green);
}
.blue {
  color: var(--primary-blue);
}
.purple {
  color: var(--primary-purple);
}
.yellow {
  color: var(--primary-yellow);
}
.gray {
  color: var(--text-gray-dark);
}
