.row {
  display: flex;
  flex-wrap: wrap;
}
.paragraph{
  flex: 0 0 calc(40%);
  margin: 5%;
}
.pinkLine {
  position: relative;
  width: 90%;
  height: 10px;
  background-color: var(--primary-pink);
  margin-top: 50px;
  margin-bottom: 50px;
}
.paragraphTitle {
  font-weight: 500;
  font-size: 40px;
  margin-top: 18%;
  margin-left: 20%;
}
.paragraphText {
  font-size: 20px;
  font-weight: 200;
  line-height: 40px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 20%;
}

.pinkLine::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border-radius: 50%;
}
.mainImg{
  flex: 0 0 calc(50%);
  padding-left: 10%;
  padding-top: 5%;
}
.pink {
  color: var(--primary-pink);
}
.green {
  color: var(--primary-green);
}
.blue {
  color: var(--primary-blue);
}
.purple {
  color: var(--primary-purple);
}
.yellow {
  color: var(--primary-yellow);
}
.gray {
  color: var(--text-gray-dark);
}
