.card {
  padding: 100px 40px 100px 40px;
  margin: 16px;
  flex: 0 0 calc(25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 28px;
  font-weight: var(--text-bol);
  line-height: normal;
}
.yellowCard {
  background: var(--primary-yellow);
  color: var(--primary-pink);
}
.purpleCard {
  background: var(--primary-purple);
  color: var(--secondary-green);
}

.turquoiseCard {
  background: var(--primary-turquoise);
  color: var(--primary-purple);
}
